* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Background Image and Navigation Bar */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(maxim-tolchinskiy-sW9O99GSVYQ-unsplash.jpg);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    /* So that the links will occupy the entire row*/
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    top: 50px;

}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* This is to make the line that hovers over the nav bar words */
.nav-links ul li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*to force the words to be centralized*/
    width: 90%;
}

.text-box h1 {
    font-size: 65px;
}

.text-box p {
    margin: 15px 40px;
    font-size: 30px;
    color: #fff
}

.view-projects-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 40px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    /* this changes the cursor pointer when I hover */
}

/* Project Showcase Area */

.projects {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 80px;
}

.projects h1 {
    font-size: 36px;
    font-weight: 600;
}

.projects p {
    color: #777;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

.row{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.projects-col{
    flex-basis: 32%;
    background: #fff3f3;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 900;
    margin: 10px 0;
}

.projects-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* Educational Journey */

.educational-background{
    text-align: center;
    margin: auto;
    width: 85%; 
}

.educational-background h1 {
    font-size: 36px;
    font-weight: 600;
}

.educational-background p {
    color: #777;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

.education-col{
    flex-basis: 24%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}

.education-col img{
    width: 95%;
}

/* This layer creation portion is required for the hover below */
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(255, 99, 71, 0.2);
}

/* Quotes Section*/
.quote-section img{
    width: 7%;
    margin-top: 120px;
}

.quote-section{
    text-align: center;
    margin: auto;
}

.background-image{
    background-image: url(thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
}

.quote-section h1{
    margin-top: 60px;
    font-size: 36px;
    font-weight: 400;
}

.quote-section p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 100px 0;
}

/* Footer */
 .footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
 }

 .footer h1 {
    font-weight: 400;
    padding: 20px 0;
 }

.icons .fa{
    margin: 0 15px;
    cursor: pointer;
    padding: 18px 0;
    color: black;
 }

 .ending{
    text-align: center;
    padding: 10px;
 }